html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
}

canvas {
    border: 1px solid black;
    background-color: #EBECF0;
}

.page-container{
    display: flex;
    min-height: 100%;
}

.left-container{
    width: 502px;
    background-color: #A8A8A8;
}

.right-container{
    width: 100%;
    background-color: #909090;
    padding: 10px;
}

.sensor-header{
    height: 45px;
    background-color: #787878;
    font-size: 20px;
    padding: 5px;
}