html{
    height: 100%;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    /*overflow: hidden;*/
}

canvas {
    border: 1px solid black;
    background-color: #EBECF0;
    width: auto;
    height: inherit;
}

.page-container{
    display: flex;
    min-height: auto;
    width: 100%;
    height: 600px;
}

.left-container{
    width: auto;
    height: inherit;
    /*background-color: #A8A8A8;*/
    /*position: fixed;*/
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.right-container{
    width: inherit;
    height: inherit;
    background-color: #909090;
    padding: 10px;
    /*margin-left: 740px;*/
    margin-right: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
    border-style: solid;
    border-radius: 5px;
}

.sensor-header{
    min-height: 45px;
    background-color: #787878;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

.sensor-header-node{
    min-height: 45px;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: right;
}

.num-input{
    width: 50px;
}

.pos-input{
    width: 80px;
    margin-right: 20px;
}

.floor-container{
    background-color: #787878;
    width: inherit;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.node-container{
    background-color: #656565;
    width: inherit;
    display:grid;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

.coordinate-control{
    margin-top: 10px;
}

.point-list{
    overflow: auto;
}

.slider-container{
    width: 100%;
}

#time-slider{
    width: 100%;
}

#selected-label{
    position: absolute;
    z-index: 10;
    color: #FFFFFF;
    margin: 10px;
}
