body{
    margin:0;
    display: block;
    /*background-color: gray;*/
}

.navBar{
    margin-bottom: 10px;
}

.navBar-Content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position:static;
    top:0;
    width: 100%;
    border-bottom: solid;
    border-bottom-color: gray;
}

.navBar-button-functions {
    float: left;
}

.navBar-button-export {
    float: right;
}

.array-select {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.load-sensor-file {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.page-select {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.mainArea{
    width: 100%;
    height: 100%;
    background-color: white;
}
