.sensor-container{
    background-color: #646464;
    color: #FFF;
    height: 225px;
    margin: 10px;
    text-align: center;
    border-style: inset;
}

.sensor-tag{
    text-align: center;
    border-style: inset;
    text-transform: uppercase;
}

.sensor-label{
    height: 15px;
}

.sensor-chart-container{
    height: 135px;
}

.chart-label{
    border-style: inset;
}

.xyz-chart{
    width: 40%;
    max-height: 200px;
    display: inline-block;
    float: left;
    text-align: center;
    border-style: inset;
    background-color: black;
}

.gyro-chart{
    width: 40%;
    max-height: 200px;
    display: inline-block;
    /* float: left; */
    text-align: center;
    border-style: inset;
    background-color: black;
}

.temp-chart{
    width: 20%;
    height: 154px;
    max-height: 200px;
    display: inline-block;
    float: left;
    text-align: center;
    border-style: inset;
    background-color: black;
}