body{
    margin: 0;
    padding: 0;
    background-color: #444444;
}

.sidebar{
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #646464;
    overflow-x: hidden;
}

.sidebar-label{
    padding: 10px;
    font-size: 20px;
    color: #FFF;
    margin-bottom: 10px;
    display: block;
    margin: 20px;
    text-align: center;
}

.sidebar a{
    font-size: 20px;
    color: #FFF;
    display: block;
    margin: 10px;
    border-style: outset;
    padding: 10px;
    text-align: center;
}

.sidebar a:hover{
    color: #999;
}

.content{
    margin-left: 150px;
}