.sensor-container{
    background-color: #646464;
    color: #FFF;
    height: 605px;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
    position:inherit;
}

.sensor-tag-div{
    border-style: solid;
    height: auto;
    padding-left: 1%;
    font-size: 25px;
    height: 43px;
    text-transform: uppercase;
}

.sensor-tag{
    float: left;
}

.temp-tag{
    float: right;
    position: relative;
}

.sensor-label{
    height: 15px;
}

.sensor-chart-container{
    display: table;
}

.chart-label{
    border-style: solid;
    text-align: center;
    background-color: grey;
}

.sensor-chart{
    height: auto;
    width: 100%;
    margin-bottom: 2px;
    display: inline-block;  
}

.canvas-container{
    height: inherit;
    width:inherit;
    background-color: gainsboro;
}

.legend{
    height:30px;
    background-color: gainsboro;
}