<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing 2D visualization</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/canvasTest.css' %}">
    <script type='text/javascript' src="{% static 'js/jquery.min.js' %}" ></script>
</head>
<body>
    <div class="page-container">
        <div class="left-container">
            <canvas></canvas>
            <div>help text</div>
        </div>
        <div class="right-container">
            <div class="sensor-header">
                <span>Array Name:</span>
                <span><input class="array-name" type="text"></span>
            </div>
            <div class="sensor-list"></div>
        </div>
    </div>
    <script>
        var canvas = document.querySelector('canvas');
        var canWidth = 500;
        var canHeight = 500;
        canvas.width = canWidth;
        canvas.height = canHeight;
        var c = canvas.getContext('2d');
        var arrayName = ''
        var nodeArray = [];

        <!-- c.fillRect(x, y, width, height) -->

        setInterval(function(){
            $.ajax({url: '/updateCanvas',
                success: function(result){
                    for(var i = 0; i < result.sensorData.length; i++){
                        for(var j = 0; j < nodeArray.length; j++){
                            if(nodeArray[j].name === result.sensorData[i].sensorName){
                                nodeArray[j].updateData(result.sensorData[i].xCoordinate, result.sensorData[i].yCoordinate, result.sensorData[i].vibrationLevel);
                            }
                        }
                    }
                }
            });
        }, 1000);

        function updateArray(){
            $(".sensor-list").empty();
            nodeArray = [];
            {% for node in nodes %}
                if('{{node.nodeName}}' === arrayName){
                    {% for sensor in node.sensor_set.all %}
                        var node = new Node('{{sensor.sensorName}}');
                        nodeArray.push(node);
                        $(".sensor-list").append("<div>{{sensor.sensorName}}</div>");
                    {% endfor %}
                }
            {% endfor %}
        }

        $(".array-name").on('keypress', function(e){
            if(e.which == 13){
                arrayName = $(".array-name").val()
                updateArray();
            }
        });

        function animate(){
            requestAnimationFrame(animate);
            c.clearRect(0, 0, canWidth, canHeight);
            for(var i = 0; i < nodeArray.length; i++){
                nodeArray[i].update();
            }
        }

        function Node(name){
            this.name = name;
            this.x = 0;
            this.y = 0;
            this.innerRadius = 5;
            this.outerRadius = 100;
            this.movingRadius = this.innerRadius;
            this.speed = 1;
            this.colorString = "#000000";

            this.updateData = function(newX, newY, newV){
                var numX = parseInt(newX)
                var numY = parseInt(newY)
                var numV = parseInt(newV)
                if(this.x != numX) this.x = numX;
                if(this.y != numY) this.y = numY;
                if(this.speed != numV) this.speed = numV;
            }

            this.setColor = function(){
                switch(this.speed){
                    case 1:
                        this.colorString = "#149414";
                        break;
                    case 2:
                        this.colorString = "#D9B51C";
                        break;
                    case 3:
                        this.colorString = "#FF781F";
                        break;
                    case 4:
                        this.colorString = "#D0312D";
                        break;
                    default:
                        this.colorString = "#000000";
                        break;
                }
                c.fillStyle = this.colorString;
                c.strokeStyle = this.colorString;
            }

            this.drawInner = function(){
                c.beginPath();
                c.arc(this.x, this.y, this.innerRadius, 0, Math.PI*2, false);
                c.fill();
            }

            this.drawOuter = function(){
                c.beginPath();
                c.arc(this.x, this.y, this.outerRadius, 0, Math.PI*2, false);
                c.stroke();
            }

            this.drawPulse = function(){
                if(this.movingRadius + this.speed <= this.outerRadius){
                    this.movingRadius += this.speed;
                }
                else{
                    this.movingRadius = this.innerRadius;
                }
                c.beginPath();
                c.arc(this.x, this.y, this.movingRadius, 0, Math.PI*2, false);
                c.stroke();
            }

            this.update = function(){
                this.setColor();
                this.drawInner();
                this.drawOuter();
                this.drawPulse();
            }
        }

        animate();
    </script>
</body>
</html>